body {
font-family: 'Titillium Web', sans-serif;
}

header {
  margin-top: 75px;
}

#testimonial {
  background: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;
}

footer {
  background: url(../img/smartphones.png);
}

#cardmember-m {
  background: #1E90FF
}

#cardmember-f {
  background: #FF69B4
}

/* Principio del código del carrousel de 4 items */

